.services-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 140px;
  .service {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 30em;
    height: 35vh;
    .service-icon {
      width: 10em;
      height: 10em;
      align-self: center;
    }
  }
  .title {
    align-self: center;
  }
}
