.service-card {
  margin: 10px;
  display: flex;
  align-items: center;
  width: 420px;
  height: 400px;
  .service-icon {
    width: 150px;
    height: 150px;
    align-self: center;
    color: var(--joy-palette-attention);
    margin: auto;
  }
  .title {
    align-self: center;
  }
}
