.contact-header {
    position: absolute;
    left: max(50%, 200px);
    & > h2 {
        position: relative;
        left: -50%;
    }
}

.contact-container {
    padding-top: 131px; /* height of navbar buttons */
    margin-left: 5px;
    margin-right: 5px;
    & > * {
        margin: 0 auto;
    }
}