.contact-container {
  padding-top: 140px; /* height of navbar buttons */
  margin-left: 5px;
  margin-right: 5px;
  & > * {
    margin: 0 auto 10px auto;
  }
}

.socials {
  display: flex;
  justify-content: center;
}
