.experience-card {
  padding: 15px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 10px;
  flex-flow: row wrap;
}
