.project {
  width: 190px;
  height: 270px;
  display: flex;
  .image-container {
    border-radius: inherit inherit 0 0;
    max-width: 190px;
    /* flex-grow: 1; */
    aspect-ratio: 1 / 1;
    padding: 0;
    & > * {
      border-radius: inherit;
    }
    .imageless-project {
      background-color: var(--joy-palette-attention);
      height: 100%;
      max-width: 190px;
      padding: 10px;
    }
  }
  .project-content {
    height: fit-content;
  }
}
