body {
  overflow-x: hidden;
  background-color: var(--joy-palette-background-surface);
  background-image: radial-gradient(var(--joy-palette-primary-300) 0.5px, var(--joy-palette-background-surface) 0.5px);
  background-size: 15px 15px;
}
