.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px 5px;
  position: fixed;
  background-color: var(--joy-palette-background-body);
  z-index: 999;
}
