.page-container {
  height: 100%;
  perspective: 1px;
  perspective-origin: center center;
}

.intro-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  transform-style: preserve-3d;
  background-color: var(--joy-palette-background-body);
  padding-top: 5px;
}

.intro {
  margin: 5px;
}

#triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10vh 100vw 0 0;
  border-color: var(--joy-palette-background-body) transparent transparent transparent;
}

.attention {
  color: var(--joy-palette-attention);
}

.details-container {
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding: 2vh 2vw;
}